* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Background */
.header .content-box {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* Menu */
.menu {
  display: inline-flex;
}
.menu img {
  height: 50px;
  margin: 20px 0 0 110px;
  cursor: pointer;
}
.menu button {
  padding: 5px 20px;
  font-size: 16px;
  position: absolute;
  right: 10%;
  top: 5%;
}

.fas.fa-sign-in-alt {
  margin-right: 10px;
}

/* Title */
.banner-text {
  width: 80%;
  color: #fff;
  margin: 16% auto 0;
  text-align: center;
}

.banner-text h2 {
  margin-top: 50px;
  font-size: 64px;
}

.banner-text p {
  font-size: 14px;

  /* On centre le paragraphe avec le titre */
  margin: 20px 0 50px 400px;
  max-width: 50%;
  /* -------------------------------------*/
}

/* ABOUT US */
.banner-text a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #65b2f4;
  display: block;
  padding: 10px;
  width: 180px;
  margin: auto;
  background: #65b2f4;
  transition: 0.5s;
}

.banner-text a:hover {
  background: transparent;
}

/* Service */

.content-box {
  background: #f4f3ff;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 100px;
}
h1::after {
  content: "";
  background: #65b2f4;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 50px;
}
.services .icon {
  font-size: 30px;
  margin: 20px auto;
  padding: 18px;
  height: 70px;
  width: 70px;
  border: 1px solid #65b2f4;
  border-radius: 50%;
  color: #65b2f4;
}
.services p {
  font-size: 12px;
  margin-top: 10px;
  color: #777;
  padding: 20px;
}
.services span {
  color: #65b2f4;
  transition: 0.5s;
}
.services .col-md-3:hover {
  background: #65b2f4;
  cursor: pointer;
  color: #fff;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
.services .col-md-3:hover .icon {
  border: 1px solid #fff;
  color: #fff;
}
.services .col-md-3:hover p {
  color: #fff;
}
.services .col-md-3:hover span {
  color: #fff;
}

/*-------------------------Features-----------------------------------*/
.feature .content-box {
}

.feature h2 {
  margin-top: 130px;
}

.feature h2::after {
  content: "";
  background: #65b2f4;
  display: block;
  height: 3px;
  width: 100px;
  margin: 20px auto 50px;
  position: absolute;
  left: 17px;
}

.feature ul {
  margin-top: 30px;
  margin-left: 50px;
  list-style-type: none;
}
.feature ul li {
  line-height: 40px;
  font-size: 14px;
  position: relative;
}
.feature ul li::after {
  content: "";
  height: 7px;
  width: 7px;
  background: #65b2f4;
  transform: rotate(45deg);
  position: absolute;
  top: 17px;
  left: -25px;
}
.feature img {
  margin-top: 130px;
}

/*-----------FOOTER--------------*/

.footer h1 {
  padding-top: 50px;
}
.contact-form {
  padding: 15px;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
::placeholder {
  font-size: 12px;
}

.contact-info .follow {
  background-color: #fff;
  padding: 8px;
  margin: 15px;
}
.contact-info .fas,
.far,
.fab {
  margin: 10px;
  font-size: 20px !important;
  color: #65b2f4 !important;
  font-weight: bold;
  padding-right: 20px;
}
.contact-info span {
  font-size: 14px;
}
.copyright {
  text-align: center;
  font-size: 14px;
}
.fa-hand-holding-heart {
  color: red;
  font-size: 17px;
}
.footer hr {
  margin-top: 20%;
  background: #65b2f4;
}

/* ------- Style Button --------- */
.button-about,
.button-login,
.contact-form button {
  width: 150px;
  height: 40px;
  background: none;
  border: 4px solid;
  color: #65b2f4;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  content: "Send Message";
}
.button-about:hover,
.button-login:hover,
.contact-form button:hover {
  color: #65b2f4;
}

.contact-form button::before,
.contact-form button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #f4f3ff;
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.button-login::before,
.button-login::after,
.button-about::before,
.button-about:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #585655e6;
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.button-about::before,
.button-login::before,
.contact-form button::before {
  top: -4px;
  left: 10%;
}
.button-about::after,
.button-login::after,
.contact-form button::after {
  bottom: -4px;
  right: 10%;
}
.button-about:hover::before,
.button-login:hover::before,
.contact-form button:hover::before {
  left: 80%;
}
.button-about:hover::after,
.button-login:hover::after,
.contact-form button:hover::after {
  right: 80%;
}
/* -------------------Button scroll top page---------------------------------------------*/
.back2top {
  position: absolute;
  right: 1.5%;
  bottom: 4%;
  background: #65b2f4;
  border: 1px solid #fff;
  width: 3%;
  height: 6%;
  color: #fff;
  font-weight: bolder;
  border-radius: 50%;
}
