* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Background */
.content-box {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* Menu */
.menu {
  display: inline-flex;
}
.menu img {
  height: 50px;
  margin: 20px 0 0 110px;
  cursor: pointer;
}
.menu button {
  padding: 5px 20px;
  background: #65b2f4;
  color: #fff;
  font-size: 16px;
  border: 0;
  position: absolute;
  right: 10%;
  top: 5%;
}

.fas.fa-sign-in-alt {
  margin-right: 10px;
}

/* Title */
.banner-text {
  width: 80%;
  color: #fff;
  margin: 16% auto 0;
  text-align: center;
}

.banner-text h2 {
  margin-top: 50px;
  font-size: 64px;
}

.banner-text p {
  font-size: 14px;

  /* On centre le paragraphe avec le titre */
  margin: 20px 0 50px 400px;
  max-width: 50%;
  /* -------------------------------------*/
}

/* ABOUT US */
.banner-text a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #65b2f4;
  display: block;
  padding: 10px;
  width: 180px;
  margin: auto;
  background: #65b2f4;
  transition: 0.5s;
}

.banner-text a:hover {
  background: transparent;
}

/* Service */

.service .content-box {
  background: #f4f3ff;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 100px;
}
h1::after {
  content: "";
  background: #65b2f4;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 50px;
}
.services .icon {
  font-size: 30px;
  margin: 20px auto;
  padding: 18px;
  height: 70px;
  width: 70px;
  border: 1px solid #65b2f4;
  border-radius: 50%;
  color: #65b2f4;
}
.services p {
  font-size: 12px;
  margin-top: 10px;
  color: #777;
  padding: 20px;
}
.services span {
    color: #65b2f4;
}
.services .col-md-3 {

}