* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Background */
.header .content-box {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* Menu */
.menu {
  display: inline-flex;
}
.menu img {
  height: 50px;
  margin: 20px 0 0 110px;
  cursor: pointer;
}
.menu button {
  padding: 5px 20px;
  background: #65b2f4;
  color: #fff;
  font-size: 16px;
  border: 0;
  position: absolute;
  right: 10%;
  top: 5%;
}

.fas.fa-sign-in-alt {
  margin-right: 10px;
}

/* Title */
.banner-text {
  width: 80%;
  color: #fff;
  margin: 16% auto 0;
  text-align: center;
}

.banner-text h2 {
  margin-top: 50px;
  font-size: 64px;
}

.banner-text p {
  font-size: 14px;

  /* On centre le paragraphe avec le titre */
  margin: 20px 0 50px 400px;
  max-width: 50%;
  /* -------------------------------------*/
}

/* ABOUT US */
.banner-text a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #65b2f4;
  display: block;
  padding: 10px;
  width: 180px;
  margin: auto;
  background: #65b2f4;
  transition: 0.5s;
}

.banner-text a:hover {
  background: transparent;
}

/* Service */

.content-box {
  background: #f4f3ff;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 100px;
}
h1::after {
  content: "";
  background: #65b2f4;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 50px;
}
.services .icon {
  font-size: 30px;
  margin: 20px auto;
  padding: 18px;
  height: 70px;
  width: 70px;
  border: 1px solid #65b2f4;
  border-radius: 50%;
  color: #65b2f4;
}
.services p {
  font-size: 12px;
  margin-top: 10px;
  color: #777;
  padding: 20px;
}
.services span {
  color: #65b2f4;
  transition: 0.5s;
}
.services .col-md-3:hover {
  background: #65b2f4;
  cursor: pointer;
  color: #fff;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
.services .col-md-3:hover .icon {
  border: 1px solid #fff;
  color: #fff;
}
.services .col-md-3:hover p {
  color: #fff;
}
.services .col-md-3:hover span {
  color: #fff;
}

/*-------------------------Features-----------------------------------*/
.feature .content-box {
}

.feature h2 {
  margin-top: 130px;
}

.feature h2::after {
  content: "";
  background: #65b2f4;
  display: block;
  height: 3px;
  width: 100px;
  margin: 20px auto 50px;
  position: absolute;
  left: 17px;
}

.feature ul {
  margin-top: 30px;
  margin-left: 50px;
  list-style-type: none;
}
.feature ul li {
  line-height: 40px;
  font-size: 14px;
  position: relative;
}
.feature ul li::after {
  content: "";
  height: 7px;
  width: 7px;
  background: #65b2f4;
  transform: rotate(45deg);
  position: absolute;
  top: 17px;
  left: -25px;
}
.feature img {
  margin-top: 130px;
}

/*-----------FOOTER--------------*/

.footer h1 {
  padding-top: 50px;
}
.contact-form {
  padding: 15px;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
::placeholder {
  font-size: 12px;
}

.contact-info .follow {
  background-color: #fff;
  padding: 8px;
  margin: 15px;
}
.contact-info .fas,
.far,
.fab {
  margin: 10px;
  font-size: 20px !important;
  color: #65b2f4 !important;
  font-weight: bold;
  padding-right: 20px;
}
.contact-info span {
  font-size: 14px;
}
.copyright {
  text-align: center;
  font-size: 14px;
}
.fa-hand-holding-heart {
  color: red;
  font-size: 17px;
}
.footer hr {
  margin-top: 50px;
  background: #65b2f4;
}

/* ------- Style Button --------- */
/* Button Submit form */
.contact-form button {
  width: 150px;
  height: 40px;
  background: none;
  border: 4px solid;
  color: #65b2f4;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  content: "Send Message";
}
.contact-form button:hover {
  color: #65b2f4;
}
.contact-form button::before,
.contact-form button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #f4f3ff;
  transform: skewX(50deg);
  transition: 0.4s linear;
}
.contact-form button::before {
  top: -4px;
  left: 10%;
}
.contact-form button::after {
  bottom: -4px;
  right: 10%;
}
.contact-form button:hover::before {
  left: 80%;
}
.contact-form button:hover::after {
  right: 80%;
}

/* Button About Us */
.button {
  min-width: 150px;
  max-width: 250px;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}
/* Sizes */
.button--size-s {
  font-size: 14px;
}

.button--size-m {
  font-size: 16px;
}

.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button--text-thin {
  font-weight: 300;
}

.button--text-medium {
  font-weight: 500;
}

.button--text-thick {
  font-weight: 600;
}

.button--round-s {
  border-radius: 5px;
}

.button--round-m {
  border-radius: 15px;
}

.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}

.button--border-medium {
  border: 2px solid;
}

.button--border-thick {
  border: 3px solid;
}
/* Nuka */
.button--nuka {
  margin: 1em 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted {
  color: #f4f3ff;
}
.button--nuka::before,
.button--nuka::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  background: #65b2f4;
  z-index: -1;
}
.button--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.button--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
  background: #fff;
}
.button--nuka:hover {
  color: #65b2f4;
}
.button--nuka:hover::before {
  opacity: 1;
}
.button--nuka:hover::after {
  background-color: #f4f3ff;
}
.button--nuka.button--inverted:hover::after {
  background-color: #65b2f4;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* ----- End Button About Us ---- */

/*-------------------Login Button ---------------------------------------------/*

/* Quidel */
.button--quidel {
  background: #7986cb;
  color: #7986cb;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--quidel.button--inverted {
  background: #fff;
  color: #fff;
}
.button--quidel::before,
.button--quidel::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: inherit;
}
.button--quidel::after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #65b2f4;
}
.button--quidel.button--inverted::after {
  background: #fff;
}
.button--quidel::before {
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--quidel.button--inverted::before {
  background: #7986cb;
}
.button--round-s.button--quidel::after {
  border-radius: 3px;
}
.button--round-m.button--quidel::after {
  border-radius: 13px;
}
.button--round-l.button--quidel::after {
  border-radius: 40px;
}
.button--quidel > span {
  padding-left: 0.35em;
}
.button--quidel:hover {
  color: #ffffff;
}
.button--quidel.button--inverted:hover {
  color: #7986cb;
}
.button--quidel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
